<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h2 class="margin-top-l margin-bottom-l">Erste Anfrage in der Kita “Butzemannhaus e.V. (Elterninitiativkita)”</h2>
    <h3 class="margin-bottom-m">Betreff: Besichtigungstermin</h3>
    <p class="margin-bottom-s">Sehr geehrte/r #{:nurseries.management},</p>
    <p class="inline-order">wir sind auf der Suche nach einem Kitaplatz zum </p>
    <div class="form-group inline-order">
      <input type="date" class="form-control input-sm" placeholder="tt.mm.jjjj">
    </div>
    <div>
      <p class="inline-order">für unsere(n)</p>
      <div class="checkbox inline-order">
          <label><input type="checkbox"> Tochter</label>
      </div>
      <div class="checkbox inline-order margin-right-m">
          <label><input type="checkbox"> Sohn</label>
      </div>
      <div class="plus-element inline-order">mehr Kinder</div>
    </div>
    <form class="form-inline margin-bottom-m">
      <div class="form-group">
        <input type="child-first-name" class="form-control input-sm" id="" placeholder="Vorname">
      </div>
      <div class="form-group">
        <input type="child-last-name" class="form-control input-sm" id="" placeholder="Nachname">
      </div>
      <p class="inline-order">, geboren am</p>
      <div class="form-group inline-order">
        <input type="date" class="form-control input-sm" placeholder="tt.mm.jjjj">
      </div>
    </form>
    <p>Wir möchten gerne Sie und Ihre Kita kennenlernen.</br>
    Über einen Terminvorschlag würden wir uns freuen. </p>
    <p>Mit freundlichen Grüßen</p>
    <form class="form-inline">
      <p class="inline-order">Familie</p>
      <div class="form-group">
        <input type="child-first-name" class="form-control input-sm" id="" placeholder="Nachname">
      </div>
    </form>
  </div>
  <div class="col-md-3 margin-top-l sidebar-column">
    <h3 class="sidebar-hl margin-top-m">Warum finden Sie diese Kita besonders interessant?</h3>
    <div class="checkbox">
      <label><input type="checkbox"> Wegen der Nähe zum Wohnort</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Weil bereits ein Geschwisterkind die Kita besucht hat </label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Wegen dem pädagogischen Konzept</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Wegen der Empfehlung durch: <input type="child-first-name" class="form-control input-sm recommendation-field" id="" placeholder="Name"></label>
    </div>
    <h3 class="sidebar-hl margin-top-m">Sonstige Ergänzungen</h3>
    <textarea class="form-control" rows="3"></textarea>
    <button class="btn btn-default sidebar-btn margin-top-l" href="/nurseries">Zur Anfrage hinzufügen</button>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <input type="submit" name="commit" value="Anfrage senden" class="btn btn-default next-btn" data-disable-with="Anfrage senden">
  </div>
</div>
