<p><b>Betreff: Besichtigungstermin</b></p>

<p>Sehr geehrte/r <%= @nursery.management %>,</p>

<p>wir sind auf der Suche nach einem Kitaplatz zum @registration.date
für unsere/n Tochter, geboren am <%= @child.birth_date %>.</p>

<p>Wir finden Ihre Kita besonders interessant aus folgenden Gründen:</p>
<ul>
  <li>Wegen der Nähe zum Wohnort</li>
  <li>Wegen dem pädagogischen Konzept</li>
</ul>
<p>Wir möchten gerne Sie und Ihre Kita kennenlernen.
Über einen Terminvorschlag würden wir uns freuen.</p>

<p>Mit freundlichen Grüßen</p>

<p>Familie @parents.name </p>
