<p>Sehr geehrte/r #{management},</p>
<p>ich suche für meine(n)</p>
<div class="child-details">
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Tochter" checked>
      Tochter
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="Sohn" checked>
      Sohn hfewubf
    </label>
  </div>
  <div class="plus-icon">
    <span class="glyphicon glyphicon-plus" aria-hidden="true">+</span>
  </div>
</div>
