<div class="container">
  <h1 class="margin-top-l margin-bottom-m">Impressum</h1>
  <strong>Angaben gemäß § 5 TMG</strong>
  <p class="margin-bottom-m">Katharina Ehrhardt<br>
  Große Weinmeisterstr. 63B<br>
  14469 Potsdam</p>
  <strong>Kontakt</strong>
  <p class="margin-bottom-m">Telefon: 0331 27379412<br>
  E-Mail: katharina.ehrhardt@kitahub.de</p>
  <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong>
  <p class="margin-bottom-m">Katharina Ehrhardt<br>
  Große Weinmeisterstr. 63B<br>
  14469 Potsdam</p>
  <strong>Bildnachweise </strong>
  <p class="margin-bottom-m">Startseite: Oksana Kuzmina / fotolia.com<br>
  Startseite: Syda Productions / fotolia.com</p>
</div>
