<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="margin-top-l margin-bottom-m">Datenschutz</h1>
      <h3 class="margin-bottom-m">Wie schützt Kitahub Ihre Daten?</h3>
      <strong>Nachrichten erst nach aktiver Zustimmung</strong>
      <p class="margin-bottom-m">Wir informieren Sie über den Verlauf Ihrer Anmeldung bei Ihren Wunschkitas erst dann, wenn Sie dem aktiv zugestimmt haben und Ihre E-Mail Adresse bestätigt haben.</p>
      <strong>Datensparsamkeit</strong>
      <p class="margin-bottom-m">Ein Jahr nach erfolgreichem Vertragsabschluss mit Ihrer Kita löschen wir Ihre personenbezogenen Daten.
      Sie können jederzeit die Datenaufbewahrung widerrufen, wenn Sie es sich anders überlegen.</p>
      <strong>Schutz vor Datendiebstahl</strong>
      <p class="margin-bottom-m">Unser Angebot erfüllt die strengen europäischen Datenschutzbestimmungen.
      Ihre Daten werden auf Servern in Deutschland gespeichert. Die Datenübertragung wird durchgehend mit https verschlüsselt über ein Extended Validation Zertifikat gesichert (Grüne Adressleiste).</p>
      <strong>Schutz vor Weitergabe</strong>
      <p class="margin-bottom-m">Als gemeinnützige Organisation ist es bei Kitahub rechtlich ausgeschlossen, dass im Falle einer Insolvenz Ihre Daten für kommerzielle Zwecke verkauft werden können.</p>
    </div>
  </div>
</div>
