<div class="row teaser-bg">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="text-center">
      <h1 class="start-hd">Wir unterstützen Sie bei der Anmeldung in ihrer Wunschkita</h1>
      <%= link_to 'Kita finden', nurseries_path, :class => 'btn btn-default center-block start-btn' %>
    </div>
  </div>
</div>
<h1 class="register-hd margin-top-xl">Mit Kitahub von der ersten Anfrage bis zum Vertragsabschluß</h1>
<div class="jumbotron img-area">
  <%= image_tag("kitaanmeldung_quer.svg", :alt => "Kitaplatz-Vergabeprozess", :class => "main-graphic") %>
</div>
<div class="text-area info-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("kitahub-grey.png", :alt => "Brand", :class => "logo-m") %>
      </div>
      <div class="col-md-8 kitahub-profil">
        <p>Kitahub ist eine soziale Initiative aus Eltern mit dem Ziel gemeinsam mit Kitas einen Online-Dienst für die Vergabe von Betreuungsplätzen zu entwickeln.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="hl">
          <a id="innovativer-onlinedienst" class="anchor" href="#innovativer-onlinedienst" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Innovativer Onlinedienst
        </h3>
        <p>Mit unserer Hilfe können Kitaleiter Ihr Anmeldeverfahren stark vereinfachen. Ein gemeinsam mit Kitas entwickelter Online-Service erlaubt es den bürokratischen Aufwand zu reduzieren und die Kommunikation mit den Bewerbern zu verbessern. </p>
      </div>
      <div class="col-md-4">
        <h3 class="hl">
          <a id="effizientes-verfahren" class="anchor" href="#effizientes-verfahren" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Effizientes Verfahren
        </h3>
        <p>Mit einer stadtweiten Anmeldung helfen wir Eltern sich nur einmal zentral anmelden zu müssen. Dadurch können Kitas bei der Vergabe von Plätzen besser auf die Bedürfnisse aller Eltern eingehen. Außerdem erhöht sich die Übersichtlichkeit, da Kitas automatisch benachrichtigt werden, sobald ihre Bewerber in einer anderen Kita eine Betreuung gefunden haben.</p>
      </div>
      <div class="col-md-4">
        <h3 class="hl">
          <a id="transparenz-für-alle" class="anchor" href="#transparenz-f%C3%BCr-alle" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Transparenz für alle
        </h3>
        <p>Durch die Einbeziehung der Eltern in die Entwicklung wird eine hohe Zufriedenheit auf beiden Seiten gewährleistet. Die Vergabe der Kitaplätze kann durch die Eltern besser nachvollzogen werden. Die Kitas bekommen einen Überblick über die tatsächliche Nachfrage und der tatsächliche Bedarf in der Stadt wird transparent gemacht. </p>
      </div>
    </div>
  </div>
</div>
