<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h2 class="margin-top-xl margin-bottom-m">Die Kita  "<%= @nursery.name %>" wurde gelöscht.</h2>
    <%= link_to 'Zu der Kitaübersicht', nurseries_index_path, class: 'btn btn-default basic-btn' %>
  </div>
</div>
