<div class="nursery-form center-block margin-top-l">
  <h1 class="margin-top-l margin-bottom-l">Kitadaten ändern </h1>
  <%= form_for @nursery, url: nurseries_path, method: 'patch' do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>


<%= link_to 'Abbrechen', nurseries_path %>
