<div class="row hl-margin">
  <div class="col-md-12">
    <h1 class="margin-top-l margin-bottom-m">Wo in Potsdam suchen Sie eine Kita?</h1>
  </div>
</div>
<form class="nursery-filter" action="/nurseries/results">
  <% @districts.each do |district| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="district[]" value="<%= district %>"><%= district %></input>
      </label>
    </div>
  <% end %>
</form>
<div class="results">
  <%= render 'results' %>
</div>
