@import "colors";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "buttons";
@import "nurseries";
@import "registration";

html {
  position: relative;
  min-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  color: #555;
  background-color: white;
  font-family: 'Assistant', sans-serif;
}

body > .content {
  margin-top: 60px;
  margin-bottom: 100px;
}

.header {
  margin-left: 30px;
  margin-right: 30px;
  @media (max-width: 768px) {
    margin-left: inherit;
    margin-right: inherit;
  }
}

.logo {
  width: 120px;
  height: auto;
}

.header-btn {
  margin: 10px 40px;
  padding-right: 30px;
  padding-left: 30px;
  @media (max-width: 768px) {
    background-color: #eee;
    border: none;
    margin: 0;
    padding: 10px 20px;
    display: block;
    border-radius: 0;
    border-bottom: 1px solid white;
    text-align: left;
    &:hover, &:focus,
    &:active, &.open  {
      background-color: white;
      border-bottom: 1px solid #eee;
    }
  }
}

.mobile-menu {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-links {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
  &:hover, &:focus,
  &:active, &.open  {
    background-color: white;
    border-bottom: 3px solid $blue;
  }
  @media (max-width: 768px) {
    padding-left: 20px;
    &:hover, &:focus,
    &:active, &.open  {
      background-color: white;
      border-bottom: 1px solid #eee;
    }
  }
}

.mobile-menu-link {
  padding: 10px 20px;
  color: #333;
  background-color: #eee;
  display: block;
  border-bottom: 1px solid white;
  &:hover, &:focus,
  &:active, &.open  {
    color: #333;
    background-color: white;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-hidden {
  @media (max-width: 768px) {
    display: none;
  }
}

.navbar-menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mobile-marginless {
  padding: 0;
  margin: 0 -15px;
}

.header-border {
  background-color: white;
  border-bottom: 1px solid #eee;
  height: 60px;
}

.navbar-default .navbar-nav>li>a.btn-header {
  @include button-variant(#fff, #78CE48, #78CE48);
  margin-top: 10px;
  margin-right: 30px;
  padding: 20px 20px;
  font-size: 1.2em;
}

.navbar-nav > li > a.navbar-menu{
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
  .response-menu {
    margin-top: 9px;
    background-color: #eee;
  }
}

.icon-margin {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-bottom {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  background-color: white;
}

.legal {
  padding: 0 20px;
  opacity: 0.5;
  font-size: 1em;
}

.terms {
  padding: 15px 20px 15px 0;
}

h1, h2 {
  font-weight: 300;
  text-shadow: 2px 2px 2px #eee;
}

h6 {
  color: $blue;
  font-weight: normal;
}

p {
  font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  color: $grey-dark;
  line-height: 1.7;
}

.hl-margin {
  margin-left: 15px;
  margin-right: 15px;

  @media (max-width: 768px) {
    margin-left: inherit;
    margin-right: inherit;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
    letter-spacing: 0px;
  }

  h2 {
    font-size: 1.8em;
    letter-spacing: 0px;
  }
}

@media (min-width: 600px) {
  .register-block {
    width: 450px;
  }
}

.register-hd {
  padding-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 130%;

  @media (max-width: 645px) {
    letter-spacing: 0;
    font-size: 2em;
  }
}

.input-text {
  font-size: 1em;
  font-weight: normal;
  color: #999;
}

.description {
  color: #999;
}

.inline-order {
  display: inline-block;
  margin-right: 10px;
}

.margin-top-s {
  margin-top: 10px;
}

.margin-top-m {
  margin-top: 30px;
}

.margin-top-l {
  margin-top: 60px;
}

.margin-top-xl {
  margin-top: 80px;
}

.margin-bottom-s {
  margin-bottom: 10px;
}

.margin-bottom-m {
  margin-bottom: 30px;
}

.margin-bottom-l {
  margin-bottom: 60px;
}

.margin-bottom-xl {
  margin-bottom: 80px;
}

.margin-right-m {
  margin-right: 30px;
}
