// Set all colors in a variable here.

// ok, submit
$green-dark: #56a387;

// blue => neutral, basic
$blue: #67b3dd;
$blue-dark: #31708f;

// warning
$orange: #fda947;

// background color
$blue-light: #f3f7fd;
$beige: #f4eee9;

// text, borders
$grey: #8A9299;
$grey-light: #ccc;
$grey-dark: #3d4247;
