// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar-column {
  border-left: 1px #67b3dd dotted;
  padding-left: 35px;
}

.sidebar-hl {
  color: #67b3dd;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.recommendation-field {
  width: 250px;
  margin-top: 10px;
}

.sidebar-btn {
  padding-right: 30px;
  padding-left: 30px;
  color: #67b3dd;
  border: 1px solid #67b3dd;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0 #67b3dd;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;

  &:hover, &:focus,
  &:active, &.open  {
    background-color: white;
    color: #fff;
    border: 1px solid #67b3dd;
    box-shadow: inset 0 100px 0 0 #67b3dd;
  }
}
