// Place all the styles related to the first request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sidebar-column {
  border: 1px $grey-light solid;
  border-radius: 8px;
  padding: 30px 35px 45px 30px;
  background-color: $beige;
  margin-right: 10px;
  @media (max-width: 991px) {
    position: inherit;
    padding: 15px 35px 20px 30px;
  }
}

.sidebar-hl {
  color: $blue;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.recommendation-field {
  width: 250px;
  margin-top: 10px;
}

.checkbox-label {
  font-size: 1.1em;
}
