<% if model.errors[field_name].any? %>
  <div class="form-group has-error">
    <label class="control-label">
      <%= model.errors[field_name].join(", ")   %>
    </label>
    <%= f.send type, field_name, class: 'form-control' %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.send type, field_name, placeholder: placeholder, class: 'form-control' %>
  </div>
<% end %>
